{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="content">
    <div class="sole_object">
        <section class="panel">    
            <h1 class="title">Sign Up</h1>
            <div class="underline"></div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <span>**Note: Please use your personal email to create your account.</span>
                <br>
                <span>Many college email filters block our registration email.</span>
                <br>
                <button class="ghost_button" type="submit">Register</button>
            </form>
        </section>
    </div>
</section>
{% endblock %}
