{% extends 'core/base.html' %}
{% load static %}

{% block title %}Collegiate League{% endblock %}

{% block content %}

<div class="bracket-title">
    <div></div>
    <div class="bracket-title-head">
        <h1>Division 2 Playoffs</h1>
    </div>
    <div></div>
    <div id="minimal"></div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'jquery.bracket.min.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.bracket.min.js' %}"></script>
<script>
    var bigData = {
        teams: [
            ["1 UMD", "32 Rutgers"],
            ["16 Illinois State", "17 UCF Gold"],
            ["8 UTK", "25 CMU"],
            ["9 PSU Black", "24 K-State Purple"],
            ["4 UCSC", "29 Fighting Scots"],
            ["13 RIT Black", "20 UCSD"],
            ["5 RIT White", "28 Champlain"],
            ["12 K-State Black", "21 WVU"],
            ["2 UT Austin", " 31 PSU Blue"],
            ["15  Ohio", "18 MUOH"],
            ["7 KSU", "26  FGCU"],
            ["10 CU Boulder", "23 Rogers State"],
            ["3 CSU Green", "30 NEU C"],     
            ["14 MST", "19  NEU B"], 
            ["6 UAH", "27 Alabama"],
            ["11 GVSU", "22 Iowa State"]
        ],
        results: [{{d2_bracket.upper_bracket}}, {{d2_bracket.lower_bracket}}, {{d2_bracket.finals}}]
    }

    var resizeParameters = {
        teamWidth: 110,
        scoreWidth: 20,
        matchMargin: 10,
        roundMargin: 20,
        init: bigData
    }

    $(function () {
        $('div#minimal').bracket(resizeParameters)
    })
</script>

{% endblock %}